.hero-image {
    width: 100vw;
    height: 94vh;
    object-fit: cover;
}

.hero-background {
    position: relative;
  }
  
.overlay {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(130, 66, 66, 0.4);
pointer-events: none;
}
  